$primary-color: #353392;
$button-hover-color: #c3c2df;
$active-tab-background: #2c2c2c;
$background-light: #cfcee1;
$background-hover: #cccccc;
$text-color: #8d8d8d;
$image-border-color: #efefef;
$button-background-hover: #171717;
